/* "Open Sans" font imported from font-google.com */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", serif;
  vertical-align: middle;
  overflow-x: hidden;
}
ul,
ol,
li {
  list-style: none;
}
a,
a:hover {
  text-decoration: none;
}

/* Shared CSS start from here */
:root {
  --dark-1: #181818;
  --dark-2: #474747;
  --white: #ffffff;
}
.btn-primary {
  border-radius: 5px;
  background: #fd6e0a;
  padding: 18px 36px;
  color: var(--white);
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  border: none;
}
/* Shared CSS end here */

/* Navbar CSS start from here */
nav {
  width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px auto;
}
nav .logo {
  color: var(--dark-1);
  font-size: 45px;
  font-weight: 800;
}
nav .logo span {
  color: #fd6e0a;
}
nav .nav-link {
  display: flex;
  align-items: center;
  gap: 48px;
}
nav .nav-link li {
  color: var(--dark-2);
  font-size: 20px;
  font-weight: 400;
}
/* Navbar CSS end here */
