/* "Open Sans" font imported from font-google.com */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", serif;
  vertical-align: middle;
  overflow-x: hidden;
}
ul,
ol,
li {
  list-style: none;
}
a,
a:hover {
  text-decoration: none;
}

/* Shared CSS start from here */
:root {
  --dark-1: #181818;
  --dark-2: #474747;
  --dark-3: #757575;
  --white: #ffffff;
}
.btn-primary {
  border-radius: 5px;
  background: #fd6e0a;
  padding: 18px 36px;
  color: var(--white);
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  border: none;
}
.btn-secondary {
  color: #fd6e0a;
  border: 1px solid #fd6e0a;
  padding: 18px 36px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  background: transparent;
}
/* Shared CSS end here */

/* Navbar CSS start from here */
header {
  background: url(../images/developer.png), url(../images/header_bg.png),
    #fff8f3;
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}
nav {
  width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 30px;
}
nav .logo {
  color: var(--dark-1);
  font-size: 45px;
  font-weight: 800;
}
nav .logo span {
  color: #fd6e0a;
}
nav .nav-link {
  display: flex;
  align-items: center;
  gap: 48px;
}
nav .nav-link li {
  color: var(--dark-2);
  font-size: 20px;
  font-weight: 400;
}
/* Navbar CSS end here */

/* Banner part CSS start from here */
#banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#banner .banner-content {
  width: 585px;
  margin-left: 390px;
}
#banner .banner-img {
  margin-right: 50px;
}
.banner-content .subtitle {
  color: var(--dark-2);
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 5px;
}
.banner-content .title {
  color: var(--dark-1);
  font-size: 85px;
  font-weight: 700;
}
.banner-content .description {
  color: var(--dark-3);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 20px 0 30px 0;
}
.banner-content .btn-container {
  display: flex;
  gap: 30px;
}
.btn- > .btn-primary {
  color: #fff8f3;
}
/* Banner part CSS end here */

/* About us section CSS start from here */
#about {
  border-radius: 10px;
  background: #fff8f3;
  width: 1140px;
  margin: 130px auto;
  padding: 100px 158px;
}
#about .about-content {
  background: #fff;
  border: 1px solid #000;
  text-align: center;
}
.section-title {
  color: var(--dark-1);
  font-size: 35px;
  font-weight: 700;
}
.about-content > .description {
  color: var(--dark-3);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 30px 0;
}
.about-content .info-container {
  display: flex;
  justify-content: space-around;
}
.info-container .info h4 {
  color: var(--dark-3);
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
.info-container .info h3 {
  color: var(--dark-2);
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}
/* About us section CSS end here */

/* Skill section CSS start from here */
#skill {
  width: 1140px;
  margin: 130px auto;
  text-align: center;
}
#skill > .description {
  color: var(--dark-3);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 30px auto;
  width: 909px;
}
.skill-container {
  text-align: start;
  display: flex;
  gap: 24px;
}
.skill-container .skill-card {
  padding: 30px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill-container .skill-card h3 {
  color: var(--dark-1);
  font-size: 20px;
  font-weight: 700;
  margin: 30px 0 20px 0;
}
.skill-card p {
  color: var(--dark-3);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
/* Skill section CSS end here */

/* Resume section CSS start from here */
#resume {
  width: 1140px;
  margin: 0 auto 110px;
  text-align: center;
}
#resume > h2 {
  text-align: center;
  margin-bottom: 100px;
}
#resume .resume-container {
  display: flex;
  /* gap: 30px; */
  justify-content: space-between;
  text-align: start;
}
.r-card .section-heading {
  color: var(--dark-2);
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
}
.r-card .card {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #d1d1d1;
}
.r-card .card:last-child {
  border-bottom: none;
  margin-bottom: 5-px;
  padding-bottom: 0;
}
.r-card .card .card-heading {
  color: var(--dark-2);
  font-size: 25px;
  font-weight: 700;
}
.r-card .card .sub-heading {
  color: var(--dark-3);
  font-size: 20px;
  font-weight: 600;
  margin: 10px 0 20px 0;
}
.r-card .description {
  color: var(--dark-3);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  width: 511px;
}
/* Resume section CSS end here */

/* Footer CSS start from here */
footer {
  background: #fff8f3;
}
.footer-con {
  width: 1140px;
  margin: 0 auto;
  padding: 130px 0;
  display: flex;
}
.footer-con .footer-description {
  color: var(--dark-3);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  width: 562px;
  margin: 20px 0;
}
.footer-left ul {
  display: flex;
  gap: 24px;
}
.footer-left ul li a i {
  font-size: 24px;
}
.footer-right h2 {
  margin-bottom: 20px;
}
.footer-right input,
textarea {
  padding: 18px 30px;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 5px;
  margin-bottom: 24px;
}
.footer-right input::placeholder {
  color: var(--dark-3);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
.footer-right textarea {
  height: 180px;
}
.footer-right textarea::placeholder {
  color: var(--dark-3);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
/* Footer CSS end here */
